.content {
    max-width: 100rem;
    margin: auto;
    margin-top: 3rem;
}
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 1rem 1rem;
    margin: 1rem;
}
.book-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #dfdfdf;
    padding: 1rem;
    text-align: center;
}
.book-item img {
    border: 0px solid #000;
    box-shadow: 0.1rem 0.2rem 0.3rem #aaa;
    transition: 1s ease;
}
.book-item h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
}
.book-item a {
    flex: 1;
}
.book-item p {
    margin-top: 1rem;
    margin-bottom: 0;
}
body {
    margin: 0;
    padding-bottom: 6rem;
}
header {
    background-color: rgb(200,200,200);
    padding: 0.5rem;
}
input, header a {
    border: none;
    padding: 0.3rem 0.6rem;
}
.search {
    display: flex;
}
.search #term {
    flex: 1;
}
a {
    text-decoration: none;
    color: rgb(60, 90, 170);
}
a:hover {
    text-decoration: underline dotted;
}
a:hover img {
    transform: scale(0.9) rotateZ(2deg);
    transition: 1s ease;
}
.book-detail {
    margin: 0.5rem;
}
.detail-header {
    margin: 1rem;
}
.cover-desc {
    display: flex;
    flex-wrap: wrap;
}
.cover {
    flex: 1;
    text-align: center;
    flex-basis: 30%;
    margin: 1rem;
    margin-top: 2rem;
}
.cover img {
    max-width: 100%;
    max-height: 65vh;
    box-shadow: 0.1rem 0.2rem 0.3rem #aaa;
}
.description {
    flex: 2;
    text-align: justify;
    margin: 1rem;
    margin-top: 2rem;
    line-height: 1.4rem;
    flex-basis: 60%;
}
.description p {
    margin: 0;
}
.download {
    font-weight: bold;
    padding: 1rem;
    background: rgb(60, 90, 170);
    color: white;
    display: block;
    margin-top: 1rem;
}
@media only screen and (min-width: 600px) {
    .book-detail {
        margin: 2rem;
    }
}
