<div class="book-item">
  <a href="/book/{{.ID}}">
    <img src="/thumbnail/{{.ID}}.png"
         alt="Cover for the book {{.Title}} by {{.Author}}"
         height="200"
         loading="lazy"
         onerror="this.src='/assets/missing-cover.png'"
    />
    <h2>{{.Title}}</h2>
  </a>
  <p>✍️ {{.Author}}</p>
  {{if .Series }} <p>📔 {{.Series}}</p> {{end}}
  <p><a href="/download/{{.ID}}" title="Download EPUB">📥 Download</a></p>
</div>
