{{ template "head.html" . }}
<header>
  {{template "searchForm.html" ""}}
</header>
<div class="content">
  <div class="book-detail">
    <div class="detail-header">
      <h1>{{.Title}}</h1>
      <h2>✍️ {{.Author}}</h2>
      {{if .Series }} <h3>📔 {{.Series}}</h3> {{end}}
    </div>
    <div class="cover-desc">
      <div class="cover">
        <img src="/cover/{{.ID}}.png"
             alt="Cover for the book {{.Title}} by {{.Author}}"
             onerror="this.src='/assets/missing-cover-large.png'"
        />
        <a class="download" href="/download/{{.ID}}" title="Download EPUB">📥 Download</a>
      </div>
      <div class="description">
        <p>{{.Description}}<p>
      </div>
    </div>
  </div>
</div>
{{ template "footer.html" }}
