<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bookshelf - {{.Title}}</title>
  <meta name="description" content="A simple ebook collection browser">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="/assets/style.css" />
  <link rel="related"
    href="/opds"
    type="application/atom+xml;profile=opds-catalog"
    title="OPDS catalog root" />
</head>

<body>
{{/*
  </body>
  </html>
*/}}
