{{ template "head.html" . }}
<header>
  {{template "searchForm.html" .Search}}
</header>
<div class="content">
  <div class="book-list">
    {{ range .Books }}
      {{template "bookItem.html" .}}
    {{end}}
  </div>
</div>
{{ template "footer.html" }}
