<form action="/search" method="get" class="search">
  <a href="/" title="Recent publications">📚</a>
  <input type="text" name="term" id="term" value="{{.}}" minlength="3" required>
  <input type="submit" value="🔎">
</form>
